/* START */

body {
    padding: 0;
    margin: 0;
    background-color: #FF6600;
    overflow-x: hidden;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    margin: 15px 0px;
    background-color: #333333;
}

.menu-item {
    background-color: #333333;
    color: #CCCCCC;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #666666;
    color: #FFFFFF;
}

.begin {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}


/* MOPPEN */

.moppen {
    background-color: #9933FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.moppen h1 {
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #400080;
}

.grap-lijst {
    width: 80vw;
}

.grap {
    border: solid 5px #400080;
    background-color: #CC99FF;
    margin: 15px;
    padding: 0px 10px;
    font-size: 22px;
    color: #26004D;
    line-height: 1.3;
}


/* STAR WARS */

.star {
    background-color: black;
    background-image: url("./images/stars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;
}

.starwars {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.starwars .container {
    position: relative;
    cursor: pointer;
}
  
.starwars .image {
    display: block;
    width: 300px;
}
  
.starwars .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}
  
.starwars .container:hover .overlay {
    opacity: 1;
}
  
.starwars .text {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.gegevens {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
}

.gegevens p {
    margin: 5px;
}


/* TELLER - STATE HOOKS */

.hooks {
    background-color: #003300;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.teller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #99FF99;
    border-radius: 4px;
    width: 400px;
    margin-top: 50px;
    padding-bottom: 20px;
}

.teller h1 {
    font-size: 3em;
    border: solid 2px #003300;
    border-radius: 4px;
    background-color: #E6FFE6;
    padding: 30px;
    text-align: center;
}

.teller button {
    border: 1px solid #003300;
    background-color: transparent;
    color: #003300;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    width: 150px; 
}

.teller button:hover {
    cursor: pointer;
    background-color: #CCFFCC;
}

.teller button:focus {
    outline:0;
}


/* TODO LIST */

.todos {
    background-color: #999966;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list {
    border: solid 3px #2E2E1F;
    width: 60vw;
    background-color: #C2C2A3;
    margin: 50px 0px;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-size: 25px;
    color: #0F0F0A;    
}

.list-item:nth-child(even) {
    background-color: #D6D6C2;
}


/* FORMULIER */

.invullen {
    background-color: #000066;
    padding: 30px 5px;
}

.grid {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;
    margin: 30px;
}

@media (max-width: 800px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}

.invullen input {
    font-size: 20px;
    margin-bottom: 15px;
}

.invullen select {
    font-size: 20px;
    padding: 5px;
    margin-top: 25px;
}

.invullen button {
    font-size: 25px;
    margin-top: 50px;
}

.formulier {
    background-color: #FFA64D;
    margin: 10px;
    padding: 10px;    
}

.invullen form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingevuld {
    background-color: #FFFF99;
    margin: 10px;
    padding: 10px;
}

.gender {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.foodallergy {
    display: flex;
    flex-direction: column;
}

.invullen li {
    margin-left: 50px;
}


/* INLOGGEN - CONDITIONAL RENDERING */

.inloggen {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.inloggen div {
    background-color: blue;
    border: solid 5px yellow;
    width: 300px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inloggen h2 {
    color: yellow;
}

.inloggen button {
    font-size: 25px;
    width: 125px;
    padding: 10px;
}

.inloggen button:hover {
    cursor: pointer;
}


/* MEME GENERATOR */

.generator * {
    box-sizing: border-box;
}

.generator {
    margin: 0;
    background-color: #DCBBF7;
    height: 100%;
    padding-bottom: 20px;
}

.generator header {
    height: 100px;
    display: flex;
    align-items: center;
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.generator header > img {
    height: 80%;
    margin-left: 10%;
}

.generator header > p {
    font-family: VT323, monospace;
    color: whitesmoke;
    font-size: 50px;
    margin-left: 60px;
}

.meme {
    position: relative;
    width: 60vw;
    margin: auto;
}

.meme > img {
    width: 100%;
}

.meme > h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.meme > .bottom {
    bottom: 0;
}

.meme > .top {
    top: 0;
}

.meme-form {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.meme-form > input {
    width: 45%;
    height: 40px;
}

.meme-form > button {
    border: none;
    font-family: VT323, monospace;
    font-size: 25px;
    letter-spacing: 1.5px;
    color: white;
    background: #6441A5;
}

.meme-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}
.meme-form > input::-moz-placeholder { /* Firefox 19+ */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}
.meme-form > input:-ms-input-placeholder { /* IE 10+ */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}
.meme-form > input:-moz-placeholder { /* Firefox 18- */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}