body {
    background-color: #476B6B;
    margin: 0;
}

header {
    background-image: linear-gradient(to bottom right, #85ADAD, #F0F5F5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

h1 {
    font-size: 40px;
    margin: 10px;
}

h2 {
    color: #D1E0E0;
    font-size: 30px;
    margin-top: 40px;
}

button {
    background-color: #1F2E2E;
    color: #B3CCCC;
    font-size: 20px;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    background-color: #E0EBEB;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 5px;
}

header img {
    height: 50px;
}

.lijsten {
    display: grid;
    grid-template-columns: 60% 40%;    
}

.boodschappenlijstje {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.invoer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.boodschappenlijstje ul {
    font-family: 'Fuggles', cursive;
    font-size: 40px;
    list-style-type: none;
    background-image: url("./components/images/blaadje.png");    
    background-repeat:repeat;
    background-size: cover;
    position: relative; 
    width: 50vw;   
    max-height: 900px;
    padding-top: 80px;
    padding-left: 10vw;
    padding-bottom: 45px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.boodschappenlijstje ul li {
    height: 35px;    
}

.boodschappenlijstje ul li span:nth-child(1) {
    cursor: pointer;
}

.winkelmand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winkelmand ul {
    font-size: 25px;
    list-style-type: none;
    width: 30vw;
    background-color: #85ADAD;
    padding: 10px;
    margin: 0;
    margin: 25px;
    border-radius: 5px;
}

.winkelmand ul li {
    padding: 10px 40px;    
    margin: 2px;
    border-radius: 5px;
    background-color: #E0EBEB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.winkelmand ul li:nth-child(even) {
    background-color: #C2D6D6;
}

.winkelmand img {
    height: 25px;
}


@media (max-width: 750px) {
    .lijsten {
        display: flex;
        flex-direction: column;        
    }
    .boodschappenlijstje {
        border-bottom: solid 5px #1F2E2E;
        padding-bottom: 25px;
    }
    .boodschappenlijstje ul {
        width: 80vw;
    }

    .winkelmand ul {
        width: 80vw;
    }
}